@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);

html, body {
  font-family: 'Source Sans Pro', serif;
  background-image: url('../assets/images/background.jpg');
  background-repeat: repeat;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.thumbnail {
  height: 200px;
}

.thumbnail img.pull-right {
  width: 50px;
}


section.top {
  margin-bottom: 0px;
  padding: 1px 10px;
  background-color: #fdfdfd;
  text-align: center;
  font-weight: 400;
  font-size: 17px;
  color: #3b3b3b;
}

section.top h1 {
  font-size: 60px;
  color: #2288b7;
  font-weight: 300;
}

.rating {
    color: #a9a9a9;
    
    margin: 0;
    padding: 0;
}
ul.rating {
    display: inline-block;

}
.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    margin: 0px 1px;
    text-align: center;
    font-weight: bold;     

    background-image: url('../assets/images/pounds-rating.png');
    background-position: 100% 0 ;
    background-repeat: no-repeat; 

    vertical-align: middle ;
    width:27px;
    height: 27px;
}
.rating .filled {
    color: red;    
    background-position: 0 0;
    background-repeat: no-repeat; 
}
.payment-item {
	cursor: pointer;  	
}

.payment-item:hover {
	color: black;
}

.pagination > li > a:hover
{
	color:#717171;
	background-color:transparent;
}

.pagination > .active a:hover
{
	color: #f2f2f2;
	background-color:transparent;
}
.pagination > .active > a
{
	color: #f2f2f2;
	background-color:transparent;
	background-image: url('../assets/images/pagination-button-active.png');
}

.pagination > li > a
{
	color:#717171;
	padding: 7px 0px;
	height:28px;
	width: 28px;
	font-family: 'Helvetica';
	font-weight: bold ;
	font-size:12px;
	margin-left: 2px;
	margin-right: 2px;
	border:none;
	background-color:transparent;
	outline:none;
	background-image: url('../assets/images/pagination-button.png');
}


table
{
	font-family: Helvetica ;
	font-size: 12px ;
	color: #666666;
	-webkit-box-shadow: 0px 0px 0px 1px #BCBDBC;
  	  box-shadow: 0px 0px 0px 1px #BCBDBC;
  	border-radius: 5px;
   	
}

.table-striped > tbody > tr:nth-child(odd) > td {
   background-color: #fdfdfd;
}

.table-striped > tbody > tr:nth-child(even) > td {
	background-color: #f8f8f8;
}

.table-condensed > thead > tr > th:first-child
{
	padding: 25px 30px;
	text-align:left;
	border-top-left-radius: 5px;
	
}

.table-condensed > thead > tr > th:last-child
{
	border-top-right-radius: 5px;
}

.table-condensed > thead > tr > th
{
	padding: 25px 30px;
	text-align:center;

	background-color: #e5e7e8;
	 border-bottom: 1px solid #e0e0e0;
  	
}

.table-condensed > tbody > tr > td:first-child
{
	padding: 20px 30px;
	text-align:left;
}

.table-condensed > tbody > tr:last-child > td:first-child
{
	border-bottom-left-radius: 5px;
}

.table-condensed > tbody > tr:last-child > td:last-child
{
	border-bottom-right-radius: 5px;
}

.table-condensed > tbody > tr:last-child td
{
	border-bottom: none;
}
.table-condensed > tbody > tr > td
{
	padding: 20px 30px;
	text-align:center;	
	 border-bottom: 1px solid #e0e0e0;
  	border-left: 1px solid #e0e0e0;
}

.table-condensed .pound-rating
{
	width:180px;
	padding: 20px 10px;
}

.table-condensed .payment-ref
{
	width:105px;
	padding: 20px 10px;
}

.table-condensed .payment-amount
{
	width:105px;
	padding: 20px 10px;
}

.btn-tsh
{
	height:30px;
	width:80px;
	border: 0px;
	margin-left:8px;
	font-family: Helvetica ;
	font-size: 12px;
	font-weight: bold ;
	border-radius: 4px;
	outline: none;
	color:#fdfdfd;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+0,2989d8+50,1f76f0+100 */
background: #7db9e8; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkYjllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzI5ODlkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxZjc2ZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, #7db9e8 0%, #2989d8 50%, #1f76f0 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7db9e8), color-stop(50%,#2989d8), color-stop(100%,#1f76f0)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#1f76f0 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#1f76f0 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #7db9e8 0%,#2989d8 50%,#1f76f0 100%); /* IE10+ */
background: linear-gradient(to bottom, #7db9e8 0%,#2989d8 50%,#1f76f0 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1f76f0',GradientType=0 ); /* IE6-8 */
copy

}

.btn-tsh-reset
{
	height:30px;
	width:80px;
	border: 0px;
	margin-left:8px;
	font-family: Helvetica ;
	font-size: 12px;
	font-weight: bold ;
	border-radius: 4px;
	outline: none;
	color:#494949;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d4d4d4+0,000000+100&amp;0.23+0,0.22+100 */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZDRkNCIgc3RvcC1vcGFjaXR5PSIwLjIzIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDAwMDAiIHN0b3Atb3BhY2l0eT0iMC4yMiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(212,212,212,0.23) 0%, rgba(0,0,0,0.22) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(212,212,212,0.23)), color-stop(100%,rgba(0,0,0,0.22))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(212,212,212,0.23) 0%,rgba(0,0,0,0.22) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(212,212,212,0.23) 0%,rgba(0,0,0,0.22) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(212,212,212,0.23) 0%,rgba(0,0,0,0.22) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(212,212,212,0.23) 0%,rgba(0,0,0,0.22) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3bd4d4d4', endColorstr='#38000000',GradientType=0 ); /* IE6-8 */


}

.tsh-pound-rating
{
	min-width:160px;
	height: 18px;
	font-size:11px;
	font-family: Arial;
	padding: 1px 7px;
	color: #000;
	border-radius: 5px;
	border-color: #9c9c9c;
	vertical-align: middle ;
	  display: -webkit-box;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+44,ededed+65,eeeeee+100 */
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(250,250,250,1) 44%, rgba(237,237,237,1) 65%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(44%,rgba(250,250,250,1)), color-stop(65%,rgba(237,237,237,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */

}


.ui-spinner-input::-webkit-input-placeholder  
{
   color: #000;
}

.ui-spinner-input:-moz-placeholder
{
   color: #000;
}

.ui-spinner-input::-moz-placeholder 
{
   color: #000;
}

.ui-spinner-input:-ms-input-placeholder
{
   color: #000;
}

.tsh-pound-rating-container
{
	background-color: #eaeced ;
	border: none;
	outline: none;
	box-shadow: none ;
	height: 30px;
	padding:4px 7px;
	margin-left:8px;
}
.form-control .tsh-pound-rating-container
{
	width: 170px;
}
.ui-spinner 
{
  width: 100%;
  text-align: left;
  border-radius: 3px;
  height:19px;  
  font-family: Arial ;
  font-size: 11px;
  padding: 0px 7px;
  color: #000;
  border-radius: 5px;
  border-color: #9c9c9c;
  color: #000;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,fafafa+44,ededed+65,eeeeee+100 */
background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iI2ZhZmFmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY1JSIgc3RvcC1jb2xvcj0iI2VkZWRlZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlZWVlZWUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(250,250,250,1) 44%, rgba(237,237,237,1) 65%, rgba(238,238,238,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(44%,rgba(250,250,250,1)), color-stop(65%,rgba(237,237,237,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(250,250,250,1) 44%,rgba(237,237,237,1) 65%,rgba(238,238,238,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-8 */
}

.ui-spinner-input
{
	outline: none;
}

.ui-spinner a.ui-spinner-button
{
	border: none;
  background-color: transparent;
}

.ui-spinner .ui-icon-triangle-1-s {
  background-position: -65px -20px;
}

.ui-icon-triangle-1-n {
  background-position: 0px -15px;
}

.ui-spinner .ui-icon {
  width: 16px;
  height: 10px;
   top: 5px;
}

.tsh-supplier-search
{
	min-width:370px;
	height:30px;

}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {  

   opacity: 1;
   background-color: transparent;
}


.text-center
{
	background-color: #fdfdfd;
  	margin: 7px;  
  	padding: 10px 20px;  	
  	border-radius: 4px;
  	box-shadow: 0px 1px 4px 0px rgba(0,0,0, 0.3);
  	-webkit-box-shadow: 0px 1px 4px 0px rgba(0,0,0, 0.3);
}

.text-center-shadow
{
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0px;
  margin: 97px auto;
  padding: 1px;
  width: 88%;
  border-radius:5px;
}
/*
.text-center:before
{
  position: absolute;
  content: '';  
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  border-radius: 1px;
  box-shadow: 0px 1px 0px 8px rgba(0,0,0, 0.05);
  -webkit-box-shadow: 0px 1px 0px 8px rgba(0,0,0, 0.05);
}
*/

hr
{

}

.table-container
{

}

@media (min-width: 768px) {
.col-sm-12 {
  width: 100%;
	}
}

@media (min-width: 768px) {
  .tsh-pound-rating-container {
  max-width: 170px;
  margin-left: 
}
}

@media (max-width: 768px) {
  .tsh-pound-rating-container {  
  margin-left: 0px; 
}
  .tsh-supplier-search	
  {
  	min-width: 0px;
  }
}

@media (max-width: 991px) {
  .tsh-pound-rating-container {  
  margin-bottom:10px;
}
  .tsh-supplier-search	
  {
  	margin-bottom:10px;
  }
}

@media (max-width: 720px) {
        /* Force table to not be like tables anymore */
        .table-container table,
        .table-container thead,
        .table-container tbody,
        .table-container th,
        .table-container td,
        .table-container tr {
        display: block;
        padding:0px;
        }
         
        /* Hide table headers (but not display: none;, for accessibility) */
        .table-container thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
        }
         
        .table-container tr { border: 1px solid #ccc; }
          
        .table-container td {
        /* Behave like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
        white-space: normal;
        text-align:center;
        width:100%;

        }
         
        .table-container td:before {
        /* Now like a table header */
        position: absolute;
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
        text-align:center;
        font-weight: bold;
        }
         
        /*
        Label the data
        */
        .table-container td:before { content: attr(data-title); }

        .table-condensed > tbody > tr > td:first-child,
        .table-condensed .payment-ref,
        .table-condensed .pound-rating,
        .table-condensed .payment-amount {
  			width: 100%;
  			text-align:center;
			}
        }